.btn {
  color: black;
  background: whitesmoke;
  border: solid black 1px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
  padding: 5px 20px;
}
.btn.btn-sm {
  font-size: 10px;
  padding: 5px 15px;
}
.btn.btn-lg {
  font-size: 16px;
  padding: 9px 25px;
}
.btn.btn-red {
  color: whitesmoke;
  background: darkred !important;
}
.btn.btn-red:hover {
  background: #590000 !important;
}
.btn.btn-green {
  color: whitesmoke;
  background: darkgreen !important;
}
.btn.btn-green:hover {
  background: #003200 !important;
}
.btn.btn-blue {
  color: whitesmoke;
  background: darkblue !important;
}
.btn.btn-blue:hover {
  background: #000059 !important;
}
.btn:hover {
  background: #c3c3c3;
}
