.btn {
  color: black;
  background: whitesmoke;
  border: solid black 1px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
  padding: 5px 20px;
}
.btn:hover {
  background: #c3c3c3;
}
.btn.btn-sm {
  font-size: 10px;
  padding: 5px 15px;
}
.btn.btn-lg {
  font-size: 16px;
  padding: 9px 25px;
}
