@white: whitesmoke;

.btn {
  color: black;
  background: @white;
  border: solid black 1px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
  padding: 5px 20px;
}
.btn:hover {
  background: @white - 50%;
}
