@white: whitesmoke;
@button-sizes: sm, lg;
@button-colors: {
  red: darkred;
  green: darkgreen;
  blue: darkblue;
};

.btn {
  color: black;
  background: @white;
  border: solid black 1px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
  padding: 5px 20px;

  each(@button-sizes, {
    &&-@{value} {
      font-size: (4px + (6px * @index));
      padding: (1px + (4px * @index)) (5px + (10px * @index));
    }
  });

  each(@button-colors, {
    &&-@{key} {
      color: @white;
      background: @value !important;
    }
    &&-@{key}:hover {
      background: (@value - 50%) !important;
    }
  });
}
.btn:hover {
  background: @white - 50%;
}
